<!DOCTYPE html>
<html>
<head>
<title>¿Cuándo Abre? - Tabla</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<style type="text/css">
body {
    font-family: sans-serif;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
</style>
<script type="text/javascript">
var loc;
function updateLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (p){
            loc /*global*/ = p;
            b = document.getElementById('posButton');
            b.innerHTML = "🗘";
            b.disabled = false;
            // loc.coords.latitude + "<br/>"+ loc.coords.longitude;
        });
    }
}
function reloadAt(l) {
    let u = new URL(window.location.href);
    p = u.searchParams;
    p.delete('center');
    p.append('center', ''+l.coords.latitude+','+l.coords.longitude);
    window.location.href = u;
}
function doFiltering(filterTextElement, column) {
    value = document.getElementById(filterTextElement).value.toUpperCase();
    rows = document.getElementById("hoursTable").getElementsByTagName("tr");
    
    for (i = 0; i < rows.length; i++) {
        cell = rows[i].getElementsByTagName("td")[column];
        if (cell) {
            if (cell.innerHTML.toUpperCase().indexOf(value) > -1) {
                rows[i].style.display = "table-row";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
}
function pinNode(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/recordar?nodeId=" + id, true)
    xhttp.send();
}
function unpinNode(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/olvidar?nodeId=" + id, true)
    xhttp.send();
}
</script>
</head>
{% set opening_state = {'open': '<span style="color: green;">✔</span>', 
                        'closed': '<span style="color: red;">✘</span>', 
                        'unknown': '?'
                       }
%}
{%   
   set typeNames = {
                'fuel': 'Station Essence',
                'convenience': 'Superette',
                'post_office': 'Bureau de Poste',
                'bakery': 'Boulangerie',
                'tobacco': 'Tabac',
                'pharmacy': 'Pharmacie',
                'restaurant': 'Restaurant',
                'bank': 'Banque',
                'library': 'Bibliothèque',
                'cheese': 'Fromagerie',
                'dry_cleaning': 'Pressing',
                'wine': 'Cave à Vins',
                'veterinary': 'Vétérinaire',
                'optician': 'Opticien',
                'funeral_directors': 'Services Funeraires',
                'hairdresser': 'Coiffeur',
                'gift': 'Cadeaux',
                'florist': 'Fleuriste',
                'atm': 'Distributeur',
                'bicycle_parking': 'Parking Vélos',
                'bicycle_rental': 'Location Vélos',
                'cafe': 'Café',
                'car_club': 'Club Automobilisme',
                'car_rental': 'Location Voitures',
                'community_centre': 'Centre voisinage',
                'dentist': 'Dentiste',
                'doctors': 'Médecins',
                'embassy': 'Ambassade',
                'fast_food': 'Fast Food',
                'gallery': "Gallerie d'Art",
                'ice_cream': 'Glaces',
                'nightclub': 'Boîte de nuit',
                'pub': 'Pub',
                'social_facility': 'Centre Social',
                'toilets': 'WC',
                'accessories': "Boutique d'accessoires",
                'alcohol': 'Boutique spiritueux',
                'anime': 'Magasin Bandes Desinées',
                'art': "Magasin d'Art",
                'bag': "Magasin de Sacs à Main",
                'beauty': 'Salon de Beauté',
                'bicycle': 'Magasin de Vélos',
                'books': 'Librerie', 
                'carpet': 'Magasin de Tapis',
                'chemist': 'Droguerie',
                'chocolate': 'Vente de Chocolate',
                'clothes': 'Magasin de Vêtements', 
                'collector': "Magasin d'Articles de Collection",
                'computer': "Magasin d'Informatique",
                'laboratory': 'Laboratoire'
               }
%}
<body onload="updateLocation();">
<h1>Lugares recordados</h1>
<table id="pinnedTable">
<tr>
<th><!-- unpin button --></th>
<th>Tipo</th>
<th>Lugar</th>
<th>¿Abierto?</th>
<th>Horarios</th>
</tr>
{% for node in pinned %}
 <tr>
  <td><button onclick="unpinNode({{ node.id }}); this.parentElement.parentElement.remove();">Unpin</button></td>
  <td>{{ typeNames[node.type]|safe }}</td>
  <td><a href="{{ node.url }}">{{ node.name|default('(nodo sin nombre)') }}</a></td>
  <td>{{ opening_state[node.open]|safe }}</td>
  <td>{{ node.hours }}</td>
 </tr>
{% else %}
  <tr><td colspan='5'><em>Ningún lugar fijado. Utiliza el botón
  <button>Pin</button> para fijar lugares.</td></tr>
{% endfor %}
</table>

<h1>Lugares cerca de la posición…
<button id="posButton" disabled="disabled" title="Buscar alrededor de la
posición actual" onclick="reloadAt(loc);">(Esperando una localización…)</button>
</h1>

<table id="hoursTable">
<tr>
<th><!-- pin button --></th>
<th>Tipo</th>
<th>Lugar</th>
<th>¿Abierto?</th>
<th>Horarios</th>
<th>Distancia</th>
</tr>
<tr>
<th></th>
<th></th>
<th><input type="text" id="filterBox" onkeyup="doFiltering('filterBox', 2/* Name column */);" placeholder="Filtrar…"/></th>
<th></th>
<th></th>
<th></th>
</tr>
{% for node in nodes|sort(attribute='distance') %}
 <tr>
  <td><button onclick="pinNode({{ node.id }});">Pin</button></td>
  <td>{{ typeNames[node.type]|safe }}</td>
  <td><a href="{{ node.url }}">{{ node.name|default('(nodo sin nombre)') }}</a></td>
  <td>{{ opening_state[node.open]|safe }}</td>
  <td>{{ node.hours }}</td>
  <td>{{ ( (node.distance / 10)|round|int ) * 10 }}&nbsp;m</td>
 </tr>
{% endfor %}

</table>
</body>
</html>