<!DOCTYPE html>
<html>
<head>
<title>¿Cuándo Abre? - Tabla</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
</style>
<script type="text/javascript">
var loc;
function updateLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (p){
            loc = p;
            x = document.getElementById('testPos');
            x.innerHTML = "Latitud: " + loc.coords.latitude + "<br/>Longitud: " +
            loc.coords.longitude;
        });
    }
}
updateLocation();
function doFiltering(filterTextElement, column) {
    value = document.getElementById(filterTextElement).value.toUpperCase();
    rows = document.getElementById("hoursTable").getElementsByTagName("tr");
    
    for (i = 0; i < rows.length; i++) {
        cell = rows[i].getElementsByTagName("td")[column];
        if (cell) {
            if (cell.innerHTML.toUpperCase().indexOf(value) > -1) {
                rows[i].style.display = "table-row";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
}
function pinNode(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/recordar?nodeId=" + id, true)
    xhttp.send();
}
</script>
</head>
<body>
<div id="testPos" style="display: none;">(Esperando una localización…)</div>

<table id="hoursTable">
<tr>
<th><!-- pin button --></th>
<th>Tipo</th>
<th>Lugar</th>
<th>¿Abierto?</th>
<th>Horarios</th>
</tr>
<tr>
<th></th>
<th></th>
<th><input type="text" id="filterBox" onkeyup="doFiltering('filterBox', 2/* Name column */);" placeholder="Filtrar…"/></th>
<th></th>
<th></th>
</tr>
{% set opening_state = {'open': '<span style="color: green;">✔</span>', 
                        'closed': '<span style="color: red;">✘</span>', 
                        'unknown': '?'
                       }
%}
{%   
   set typeNames = {
                'fuel': 'Station Essence',
                'convenience': 'Superette',
                'post_office': 'Bureau de Poste',
                'bakery': 'Boulangerie',
                'tobacco': 'Tabac',
                'pharmacy': 'Pharmacie',
                'restaurant': 'Restaurant',
                'bank': 'Banque',
                'library': 'Bibliothèque',
                'cheese': 'Fromagerie',
                'dry_cleaning': 'Pressing',
                'wine': 'Cave à Vins',
                'veterinary': 'Vétérinaire',
                'optician': 'Opticien',
                'funeral_directors': 'Services Funeraires',
                'hairdresser': 'Coiffeur',
                'gift': 'Cadeaux',
                'florist': 'Fleuriste'
               }
%}
{% for node in nodes %}
 <tr>
  <td><button disabled="disabled" onclick="pinNode({{ node.id }});">Pin</button></td>
  <td>{{ typeNames[node.type]|safe }}</td>
  <td><a href="{{ node.url }}">{{ node.name|default('(nodo sin nombre)') }}</a></td>
  <td>{{ opening_state[node.open]|safe }}</td>
  <td>{{ node.hours }}</td>
 </tr>
{% endfor %}

</table>
</body>
</html>